@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    background-color: #ffffff;
  }

  body.quotes-bulk-modal-open header,
  body.quotes-bulk-modal-open aside {
    pointer-events: none;
    user-select: none;
  }
}

@layer utilities {
  @keyframes progress-flow {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .animate-progress-flow {
    animation: progress-flow 2s infinite ease-in-out;
  }
}
